.content-meta {
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.content-meta-left {
  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

.content-meta-tags {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
